.fundo {
    position: absolute;
    display: grid;
    grid-template-rows: 100vh 100vh 100vh;
    z-index: 0;
}

#root {
    position: absolute;
    display: grid;
    grid-template-rows: 100vh 100vh 100vh;
    grid-template-columns: 100vw;
    z-index: 1;
}

canvas {
    width: 100vw;
    height: 100vh;
    background-color: #2364AA;
}