.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background div {
    position: relative;
}

.apresentation {
    background: #222831;
    font-family: 'Amatic SC', cursive;
    height: 100vh;
}

header {
    background: #222831;
    position: fixed;
    display: flexbox;
    padding: 1% 0;
    z-index: 10;
    width: 100%;
}

ul {
    justify-content: flex-end;
    margin-right: 55px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
}

li {
    display: flex;
}

.buttonHeader {
    border: none;
    display: flex;
    background: transparent;
    padding: 0 13px;
    font-size: 34px;
    color: #FCF1F1;
}

.apresentationSlogan small {
    font-size: 34px;
    margin: 0;
    padding: 0;
    color: #FCF1F1;
}

.apresentationSlogan h1 {
    font-size: 233px;
    margin: 0;
    margin-top: -34px;
    padding: 0;
    color: #FCF1F1;
}

.apresentationSlogan h2 {
    font-size: 89px;
    margin: 0;
    margin-top: -13px;
    padding: 0;
    color: #FCF1F1;
}

.apresentationSlogan {
    display: inline-block;
    position: relative;
    margin-left: 55px;
    margin-top: 13em;
    z-index: 1;
}


/* Hover */

.buttonHeader:hover {
    text-decoration: underline;
}


/* Media Queries */

@media (max-width: 760px) {
    .apresentation {
        display: flex;
        align-items: center;
    }

    header {
        display: none;
    }

    .apresentationSlogan {
        margin: 0 auto;
    }

    .apresentationSlogan h1 {
        font-size: 144px;
        margin-top: -13px;
    }

    .apresentationSlogan h2 {
        font-size: 34px;
        margin-top: -5px;
    }

    .apresentationSlogan small {
        font-size: 21px;
    }
}