.part1 {
    height: 100vh;
    background: #222831;
    
    header {
        background: transparent;
        display: flexbox;
        padding: 1% 0;
        padding-bottom: 13%;

        @media (min-width: 1000px) {
            padding-bottom: 8%;
        }

        ul {
            justify-content: flex-end;
            margin-right: 34px;
            margin-top: 21px;
            display: flex;

            li {
                display: flex;

                button {
                    border: none;
                    display: flex;
                    background: transparent;
                    padding: 0 13px;
                    font-size: 55px;
                    color: #f8f9ff;
                }

                button:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    main {
        display: inline-block;
        margin-left: 55px;
        margin-top: 34px;

        @media (max-width: 600px) {
            padding-top: 55%;
            margin-left: 34px;
            margin-top: 13px;
        }

        @media (max-width: 360px) {
            padding-top: 55%;
            margin-left: 13%;
            margin-top: 8px;
        }

        small {
            font-size: 34px;
            margin: 0;
            padding: 0;
            color: #f8f9ff;

            @media (max-width: 600px) {
                font-size: 21px;
                padding-bottom: 13px;
            }

            @media (max-width: 360px) {
                padding-bottom: 21px;
            }
        }

        h2 {
            font-size: 89px;
            margin: 0;
            margin-top: -13px;
            padding: 0;
            color: #f8f9ff;

            @media (max-width: 600px) {
                font-size: 55px;
                padding-bottom: 8px;
            }

            @media (max-width: 411px) {
                font-size: 34px;
                padding-bottom: 21px;
                margin-top: -5px;
            }
        }

        h1 {
            font-size: 233px;
            margin: 0;
            margin-top: -34px;
            padding: 0;
            color: #f8f9ff;

            @media (max-width: 600px) {
                font-size: 144px;
            }

            @media (max-width: 360px) {
                font-size: 89px;
            }
        }
    }
}

@media (max-width: 600px) {
    header {
        display: none;
    }
}