.videoContainer {
    background: #222831;
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

iframe {
	width: 46%;
	height: calc(.5625 * 46vw);
    max-width: 720px;
    max-height: 405px;
    margin: 2%;
    border: none;
    border-radius: 3px;
}

.textomenu {
    border: 0;
    padding: 0;
    margin: 0;
    width: 50%;
}

.textos {
    margin-top: 5%;
    margin-left: 1%;
}

.textos h1 {
    margin: 0;
    font-size: 55px;
    color: #FCF1F1;
}

.textos p {
    margin: 0;
    margin-bottom: 8px;
    font-size: 13px;
    color: #FCF1F1;
}

.menu {
    margin-left: 1%;
}

@media (max-width: 760px) {
    iframe {
        width: 100%;
        height: calc(.5625 * 100vw);
        max-width: 100%;
        max-height: calc(.5625 * 100vw);
        margin: 0;
        border-radius: 0;
    }

    .menu {
        margin: 0;
    }

    .textos {
        margin-left: 13%;
    }

    .textos h1 {
        margin: 0;
        font-size: 55px;
    }

    .textos p {
        margin: 0;
        margin-bottom: 13px;
        font-size: 21px;
    }
}