.menuContainer {
    width: 100%;
}

.toggleButton {
    display: flex;
    background: #00000069;
    width: 45vw;
    border-radius: 3px 3px 20px 3px;
    margin-bottom: 13px;
    padding: 13px;
}

.toggleButton p {
    font-weight: bold;
    color: #FCF1F1;
    margin-right: 13px;
}

.toggleButton button {
    background: #393e469a;
    color: #FCF1F1;
    border: 0;
    padding: 0 21px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.toggleButton button:hover {
    background: #393e46bb;
}

.toggleButton button:focus {
    background: #393e46;
}

#a {
    border-radius: 21px 0px 0px 0px;
}

#c {
    border-radius: 0px 0px 21px 0px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    background: #00000050;
    padding: 1vh;
    width: 45vw;
    height: calc(.5625 * 21vw);
    max-height: 15vh;
}

.listArea {
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    height: calc(.5625 * 21vw);
    max-height: 15vh;
}

.item {
    margin: 0 2px;
    padding: 0.5%;
}

.item button {
    width: 144px;
    padding: 3px;
    background: #16A596;
    border: none;
    border-radius: 3px;
    font-size: 21px;
}

@media (max-width: 760px) {

    .toggleButton {
        width: 95vw;
        padding-left: 13%;
    }

    .list {
        position: relative;
        width: 100vw;
        margin-top: 8%;
        justify-content: center;
        height: 50vh;
        max-height: 34vh;
    }

    .listArea {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100vw;
    }

    .item {
        width: 44%;
        padding: 0.5%;
    }

    .item button {
        border: none;
        font-size: 21px;
        width: 100%;
        margin: 2% 0;
        padding: 8% 0;
    }
}